.dashboard-div{
    width: 100%;
    display: inline-flex;

}

.left-div{
    background-color: darkblue;
    width: 25%;
    margin: 0;
}
.right-div{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: red;
    float: right;
}