.signin-form-div{
    display: flex;
    justify-content: center; /* horizontally center the form */
    align-items: center; /* vertically center the form */
    background-image: url(../../images/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.signin-form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: fit-content; /* set the width of the form to fit the content */
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-color:#ffffff57;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.671) ;
}

.signin-form label{
    text-align: center;
}

.signin-form input{
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

input:focus{
    border-color: rgb(52, 150, 32);
    border-width: 1px;
}

.signin-form button{
    margin-top: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: #43B14B;
    border-style: solid;
}

a{
    text-align: center;
    font-size: 11px;
    color: white;
}