.farmer-control-div{
    display: flex;
}

.farmer-control-data{
    margin-left: 250px;
    width: 100vw;
}

.farmer-register{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgb(248, 248, 248);
    margin: auto;
    border-radius: 20px;
    height: 400px;
    justify-content: center;
}

.farmer-register-form{
    width: fit-content;
    margin: auto;
    margin-bottom: 10PX;
}

.optional-operations{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
}

.optional-operations input{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: transparent;
    margin: 8px;
    outline: none;
    border-style: solid;
    
}

.optional-operations button{
    margin: 8px;
    border-radius: 10px;
    border-color: #00000015;
    border-style: solid;
    box-shadow: 0.3px 0.5px 0px;
    background-color: white;

}

.farmer-register-form input{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-color: transparent;
    margin: 8px;
    outline: none;
    border-style: solid; 
}

.farmer-register-form button {
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    border-radius: 10px;
    border-color: #00000015;
    border-style: solid;
    box-shadow: 0.3px 0.5px 0px;
    background-color: white;
  }

  .btn-outline-success:hover{
    background-color: #43B14B;
  }

@media screen and(min-width: 500px){
    .farmer-control-div{
        color: red;
        
    }

}