.farmer-control-div{
    background-color: green;
    display: flex;
}

.farmer-control-data{
    margin-left: 250px;
}

@media screen and(min-width: 500px){
    .farmer-control-div{
        color: red;
        
    }

}